@import "../../Style.scss";

.window-projects {
  width: 100vw;
  height: 100vh;
}
.window-projects i {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 2em;
  color: $colorOne;
}
.projects-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: $colorThree;
  overflow-y: scroll;
}
.projects-header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2em;
}
.projects-header h1 {
  position: relative;
  font-size: 3em;
  color: $colorFour;
  height: 1.3em;
  letter-spacing: 0.1em;
  padding-bottom: 0.2em;
  z-index: 1;
}
.projects-header h1::after {
  position: absolute;
  content: "";
  height: 0.3em;
  width: 50%;
  left: 25%;
  bottom: 0;
  border-bottom: 5px solid $colorOne;
}
.projects-project {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70em;
  height: 600px;
  margin: 0 4em 4em 4em;
  padding: 1em;
}
.projects-project h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.4em;
  width: 100%;
}
.projects-project a {
  text-decoration: none;
  color: $colorFour;
}
.projects-project-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  height: 100%;
}
.projects-project-main-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75%;
  margin-bottom: -0.6em;
}
.projects-project-main-image img {
  max-width: 100%;
  max-height: 100%;
}
.projects-project-all-images {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 20%;
  overflow-x: scroll;
}
.projects-project-all-images img {
  height: 100%;
  margin-right: 0.5em;
}

.projects-project-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 28%;
  color: $colorOne;
  letter-spacing: .1em
}
.projects-project-details a {
    text-decoration: none;
    color: $colorOne;
}

@media (max-width: 1125px) {
  .projects-project {
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 1000px;
  }
  .projects-project-images {
    width: 85%;
    height: 75%;
  }
  .projects-project-details {
    align-items: flex-start;
    width: 100%;
    height: 25%;
    padding: 0 10em;
  }
}

@media (max-width: 900px) {

}