@import "../../Style.scss";

.projects-none {
  display: none;
}
.projects {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 150%;
  width: 7em;
  margin-right: 1.2em;
  transform: rotate(20deg);
  background-color: $colorThree;
  transition: all 1s;
}
.projects:hover {
  box-shadow: 0px 0px 60px rgb(29, 29, 29);
  background-color: #52664b;
}
.projects-slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 150%;
  width: 40em;
  transform: rotate(20deg);
  background-color: $colorThree;
  transition: all 1s;
}
.projects-slide:hover {
  box-shadow: 0px 0px 60px rgb(39, 39, 39);
}

.projects > h5 {
  transform: rotate(-90deg);
  font-size: 2em;
  margin-left: -.7em;
  margin-top: -1em;
  transition: all 1s;
}
.projects-slide > h5 {
  transform: rotate(-90deg);
  font-size: 2em;
  margin-left: -1em;
  margin-bottom: 0;
  margin-top: -10em;
  transition: all 1s;
}

.projects-more-none {
  position: absolute;
  left: 6em;
  width: 30em;
  margin-left: 4em;
  transform: rotate(-20deg);
  visibility: hidden;
  transition: all 1s;
}
.projects-more {
  position: absolute;
  left: 6em;
  width: 30em;
  margin-left: -0em;
  transform: rotate(-20deg);
  transition: all 2s;
}
.projects-more p {
  font-weight: 600;
}
.projects-more-none button,
.projects-more button {
  border: none;
  height: 2em;
  background-color: $colorFour;
  color: $colorOne;
  box-shadow: 1px 2px 5px rgb(73, 73, 73);
  border-radius: 2px;
}

@media (max-width: 1300px) {
  .projects {
    height: 150%;
    width: 4em;
    margin-right: .9em;
  }
  .projects-slide {
    height: 150%;
    width: 40em;
  }
  .projects h5 {
    margin-top: -.2em;
    margin-left: -1.5em;
  }
  .projects-slide > h5 {
    margin-left: -1.5em;
    margin-top: -10em;
  }
}

@media (max-width: 900px) {
  .projects {
    justify-content: center;
    height: 5em;
    width: 100%;
    margin: 0;
    transform: rotate(0deg);
  }
  .projects-slide {
    justify-content: center;
    height: 35em;
    width: 100%;
    margin: 0;
    transform: rotate(0deg);
  }
  .projects > h5 {
    position: absolute;
    top: .3em;
    font-size: 1.5em;    
    margin: 0;
    transform: rotate(0deg);
  }
  .projects-slide > h5 {
    position: absolute;
    top: .3em;
    font-size: 1.5em;    
    margin: 0;
    transform: rotate(0deg);
    transition: all 1s;
  }
  .projects-more {
    left: auto;
    margin-top: -2em;
    width: 25em;
    transform: rotate(0deg);
  }
  .projects-more-none {
    left: auto;
    width: 25em;
    margin-left: 0;
    margin-top: 12em;
    transform: rotate(0deg);
  }
}