@import "../../Style.scss";

.skills-none {
  display: none;
}
.skills {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 150%;
  width: 7em;
  margin-right: 0.4em;
  transform: rotate(20deg);
  background-color: $colorTwo;
  transition: all 1s;
}
.skills:hover {
  box-shadow: 0px 0px 60px rgb(39, 39, 39);
  background-color: rgb(178, 206, 194);
}
.skills-slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 150%;
  width: 40em;
  transform: rotate(20deg);
  background-color: $colorTwo;
  transition: all 1s;
}
.skills-slide:hover {
  box-shadow: 0px 0px 60px rgb(39, 39, 39);
}

.skills > h5 {
  transform: rotate(-90deg);
  font-size: 2em;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 1.3em;
  transition: all 1s;
}
.skills-slide > h5 {
  transform: rotate(-90deg);
  font-size: 2em;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: -10em;
  transition: all 1s;
}

.skills-more-none {
  position: absolute;
  left: 9em;
  width: 26em;
  margin-top: 3em;
  margin-left: 4em;
  transform: rotate(-20deg);
  visibility: hidden;
  transition: all 1s;
}
.skills-more {
  position: absolute;
  left: 9em;
  width: 26em;
  margin-left: -0em;
  margin-top: 3em;
  transform: rotate(-20deg);
  transition: all 2s;
}

.skills-icon-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 25em;
  height: 15em;
  // background-color: rgb(166, 180, 166);
  margin-bottom: 1.5em;
}
.skills-icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 5em;
  margin: 1em;
  border-radius: 50%;
  background-color: $colorFour;
}
.skills-icon1 img {
  width: 8.3em;
}
.skills-icon2 {
  @extend .skills-icon1;
}
.skills-icon2 img {
  width: 5.1em;
}
.skills-icon3 {
  @extend .skills-icon1;
}
.skills-icon3 img {
  width: 6.5em;
}
.skills-icon4 {
  @extend .skills-icon1;
}
.skills-icon4 img {
  width: 5.4em;
}
.skills-icon5 {
  @extend .skills-icon1;
}
.skills-icon5 img {
  width: 4em;
  margin-bottom: .4em;
}
.skills-icon6 {
  @extend .skills-icon1;
}
.skills-icon6 img {
  width: 6.4em;
}
.skills-more-none button,
.skills-more button {
  border: none;
  height: 2em;
  background-color: $colorThree;
  color: white;
  box-shadow: 1px 2px 5px rgb(134, 134, 134);
  border-radius: 2px;
}
