@import "../../Style.scss";

.contact-none {
    display: none;
}
.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 150%;
  width: 30em;
  margin-right: -12em;
  transform: rotate(20deg);
  background-color: $colorFour;
  transition: all 1s;
}
.contact:hover {
  box-shadow: 0px 0px 60px rgb(39, 39, 39);
  background-color: #333333;
}
.contact-slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 150%;
  width: 50em;
  margin-right: -10em;
  transform: rotate(20deg);
  background-color: $colorFour;
  transition: all 1s;
}
.contact-slide:hover {
  box-shadow: 0px 0px 60px rgb(39, 39, 39);
}

.contact > h5 {
  transform: rotate(-90deg);
  font-size: 2em;
  margin-left: -1em;
  margin-bottom: 0;
  margin-top: 3.7em;
  transition: all 1s;
}
.contact-slide > h5 {
  transform: rotate(-90deg);
  font-size: 2em;
  margin-left: -1em;
  margin-bottom: 0;
  margin-top: -7em;
  transition: all 1s;
}

.contact-more-none {
  position: absolute;
  left: 6em;
  width: 30em;
  margin-left: 20em;
  transform: rotate(-20deg);
  visibility: hidden;
  transition: all 1s;
}
.contact-more {
  position: absolute;
  left: 6em;
  width: 30em;
  margin-left: -0em;
  transform: rotate(-20deg);
  color: $colorOne;
  transition: all 2s;
}
.contact-more-none button,
.contact-more button {
  border: none;
  height: 2em;
  background-color: $colorOne;
  box-shadow: 1px 2px 5px rgb(43, 42, 42);
  border-radius: 2px;
}