@import "../../Style.scss";

.contact-none {
  display: none;
}
.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 150%;
  width: 70em;
  margin-right: -48em;
  margin-left: 1.3em;
  transform: rotate(20deg);
  background-color: $colorFour;
  transition: all 1s;
}
.contact:hover {
  box-shadow: 0px 0px 60px rgb(39, 39, 39);
  background-color: #333333;
}
.contact-slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 150%;
  width: 50em;
  margin-right: -10em;
  transform: rotate(20deg);
  background-color: $colorFour;
  transition: all 1s;
}
.contact-slide:hover {
  box-shadow: 0px 0px 60px rgb(39, 39, 39);
}

.contact > h5 {
  transform: rotate(-90deg);
  font-size: 2em;
  margin-left: -0.7em;
  margin-top: 10.8em;
  transition: all 1s;
}
.contact-slide > h5 {
  transform: rotate(-90deg);
  font-size: 2em;
  margin-left: -1em;
  margin-bottom: 0;
  margin-top: -7em;
  transition: all 1s;
}
.contact-more-none {
  margin-top: 16em;
  width: 30em;
  height: 18em;
  margin-left: 20em;
  transform: rotate(-20deg);
  color: $colorOne;
  visibility: hidden;
  transition: all 1s;
}
.contact-more-none h4 {
  margin-bottom: 0.4em;
}
.contact-more-none a {
  text-decoration: none;
  color: $colorOne;
}
.contact-more {
  margin-top: 16em;
  margin-left: 1em;
  width: 30em;
  transform: rotate(-20deg);
  color: $colorOne;
  transition: all 2s;
}
.contact-more h4 {
  margin-bottom: 0.4em;
}
.contact-more-none button,
.contact-more button {
  border: none;
  height: 2em;
  background-color: $colorOne;
  box-shadow: 1px 2px 5px rgb(43, 42, 42);
  border-radius: 2px;
}

.contact-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.contact-form input {
  height: 1.8em;
  width: 14em;
  margin: 0.4em;
  border: none;
}
.contact-form textarea {
  height: 4em;
  width: 24em;
  margin: 0.4em;
  border: none;
}
.contact-form button {
  margin-left: 1em;
  margin-bottom: 0.2em;
}
.contact-more a {
  text-decoration: none;
  color: $colorOne;
}

@media (max-width: 1300px) {
  .contact {
    height: 150%;
    width: 50em;
    margin-right: -40em;
    margin-left: .8em;
  }
  .contact-slide {
    height: 150%;
    width: 50em;
    margin-right: -10em;
  }
  .contact h5 {
    margin-left: -1.4em;
    margin-bottom: 4em;
  }
  .contact-more-none {
    margin-bottom: 8em;
    margin-left: 10em;
  }
  .contact-more {
    margin-bottom: 6em;
    margin-left: 0em;
  }
}
@media (max-width: 900px) {
  .contact {
    position: relative;
    justify-content: center;
    height: 5em;
    width: 100%;
    margin: 0;
    transform: rotate(0deg);
  }
  .contact-slide {
    justify-content: center;
    height: 35em;
    width: 100%;
    margin: 0;
    transform: rotate(0deg);
  }
  .contact h5 {
    position: absolute;
    top: 0.3em;
    font-size: 1.5em;
    margin: 0;
    transform: rotate(0deg);
  }
  .contact-slide > h5 {
    position: absolute;
    top: 0.3em;
    font-size: 1.5em;
    margin: 0;
    transform: rotate(0deg);
    transition: all 1s;
  }
  .contact-more {
    position: absolute;
    top: 6em;
    margin: 0;
    width: 25em;
    transform: rotate(0deg);
  }
  .contact-more-none {
    position: absolute;
    top: 10em;
    margin: 0;
    width: 25em;
    transform: rotate(0deg);
  }
}
