@import "./Style.scss";

.App-main {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.App-none {
  position: absolute;
  top: -100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $colorBg;
  overflow: hidden;
  font-family: $font;
  letter-spacing: 0.05em;
  transition: all 1s;
}
.App {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $colorBg;
  overflow: hidden;
  font-family: $font;
  letter-spacing: 0.05em;
  transition: all 1s;
}
.app-home {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 40em;
  height: 100vh;
}
.home-name {
  color: $colorTwo;
}
.app-home-text {
  margin-top: -20em;
  color: $colorOne;
}
.app-home-text h1 {
  margin: 0;
  letter-spacing: 0.05em;
}
.app-home-text p {
  margin: 0;
  font-size: 2em;
}
.app-home img {
  width: 40em;
}

.window-none {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: $colorOne;
  top: 100vh;
  transition: all 1s;
}
.window {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: $colorOne;
  top: 0;
  transition: all 1s;
}

@media (max-width: 1000px) {
  .app-home-text {
    margin-right: 4.5em;
  }
}
@media (max-width: 900px) {
  .App {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .app-home {
    align-items: center;
    height: 100%;
    width: 100%;
    left: auto;
  }
  .app-home-text {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 22em;
  }
}