@import "./Style.scss";

.App {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $colorBg;
  overflow: hidden;
  font-family: $font;
  letter-spacing: 0.05em;
}
.App h1 {
  position: absolute;
  top: 4em;
  left: 4em;
  letter-spacing: 0.05em;
}
.App img {
  position: absolute;
  top: 16em;
  left: 4em;
  letter-spacing: 0.05em;
  font-family: $font;
  height: 20em;
}

html {
  background-color: black;
}
